{% extends 'base.html' %}

{% block head %}

{% endblock %} 

{% block body %}
<body>
    <div class="Bod">

        <div class="productwrapper">
            <div class="productimgwrap">
                <div id="demo" class="carousel slide" data-bs-interval="false"  style="width:100%;height:100%;">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                      
                    </div>
                    
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner" style="width:auto;height:100%;">
                      <div class="carousel-item active">
                        <img src="/static/004nobackpreview.png" alt="Image 1" class="d-block" style="width:80%;height:auto;">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/004noback2.png" alt="Image 2" class="d-block" style="width:80%;height:auto;">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/004noback3.png" alt="Top View" class="d-block" style="width:80%;height:auto;">
                      </div>
                    </div>
                    
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" style="filter: invert(100%);"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                      <span class="carousel-control-next-icon" style="filter: invert(100%);"></span>
                    </button>
                  </div>
            </div>
            <div class="productleft">
                <div class="productleftsub"><span class="producttitle">BB Funnel for MOSCART 40mm Grenade shells</span></div>
                <div class="productleftsub"><span id="Price">£5.99</span></div>
                <div class="productleftsub">
                    <span style="width:100%"><h4>Colours Avaliable:</h4></span>
                    
                    <form method="POST" style="width:98%;">
                      {% for ser in colour %}
                          <div class="input-radio" ><input type="radio" name="colours" id="{{ser}}"  value="{{ser}}"> <label for="{{ser}}" style="background-color:{{ser}} ; border-radius: 40px; color:{{ser}}"></label></div>
                      {%endfor%}
                      
                      <br><input type="submit" value="Add to basket" class="AddCart">
                    </form>
                </div>
                
                <div class="productleftsub"><h5>{{desc}}</h5></div>
                
                
            </div>
        
        
        </div>
        <div class="Spacer" style="height: 50px;"></div>
        <div class="productwrapper">
            <div class="productright">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/5o4X3fy9iew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="productleft"><div class="subhead">Description</div>Reloading a 40MM airsoft shell can be time-consuming, especially if you have a high-capacity one. That's where this comes in. A simple design that allows you to pour BBs into your shell and quickly and effort load every chamber. No more loading it by hand or with a speed loader. This method is by far the quickest. This is a great addition to those airsofters who run grenade launchers.<br><br>

                How to use:
                Simply pour your BBs into the funnel, shake a little until all BBs have been seated into a chamber, and using a thin stick, like the cleaning rods that come with all airsoft guns, push down the BBs, pour the remanding out and you're done!
                <br><br>
                This Funnel will work with almost all 40MM Shells, like the Nuprol MOSCART / Shower Grenade and the Double Bell Grenade. The only exception to this is the hellfire grenades.
                
                <br><br>
                The BB funnel has been tried and tested during games, and no problems whatsoever! Still not convinced? We offer a 6-month warranty, so if this breaks, jams or doesn't perform the job, we will send out a replacement.
                
                
                This product is made using eco-friendly PLA, which is 3D printed. Polylactide (PLA), is a renewable thermoplastic and a polymer. It is processed from the starch of plants such as corn, sugar cane and sugar beet, making it environmentally friendly and sustainable.
                
                As this is a 3D product, there may be slight imperfections, such as visible lines. We ensure you that this has no effect on the product's performance. All products are inspected.
                
                Proud to support UK businesses!
                Hand Made in the UK and all materials used have been made and sourced in the UK
                
        </div>
    </div>
</body>

{% endblock %}