{% extends 'base.html' %}

{% block head %}

{% endblock %} 

{% block body %}
<body>
    <div class="Bod">

        <div class="productwrapper">
            <div class="productimgwrap">
                <img src="/static/NoImage.png" width="80%" height="auto">
            </div>
            <div class="productleft">
                <div class="productleftsub"><span class="producttitle">BB Funnel for MP5 High-Cap Magazine</span></div>
                <div class="productleftsub"><span id="Price">£5.99</span></div>
                <div class="productleftsub">
                    <span style="width:100%"><h4>Colours Avaliable:</h4></span>
                    
                    <form method="POST" style="width:98%;">
                        {% for ser in colour %}
                            <div class="input-radio" ><input type="radio" name="colours" id="{{ser}}"  value="{{ser}}"> <label for="{{ser}}" style="background-color:{{ser}} ; border-radius: 40px; color:{{ser}}"></label></div>
                        {%endfor%}
                        
                        <br><input type="submit" value="Coming Soon" class="AddCart" disabled>
                      </form>
                </div>
                
                <div class="productleftsub"><h5>{{desc}}</h5></div>
                
                
            </div>
        
        
        </div>
        <div class="Spacer" style="height: 50px;"></div>
        <div class="productwrapper">
            <div class="productright">
            </div>
            <div class="productleft"><h2>Description</h2>
                
        </div>
    </div>
    </div>
</body>

{% endblock %}