HTML{
  overflow: visible;
}
@font-face {
  font-family: Schmalfette;
  src: url(/static/SchmalfetteCP.ttf);
}

body {
    /*background-image: url(/static/MTP.avif);*/
    background-color: #fff;
    padding: 0;
    margin: 0;
    width:100%;
    font-family: sans-serif;
}
#Header {
    position:inherit;
    display:inline-flex;
    float: left;
    height: 100PX;
    width: 100%;
    background-color: #121212;
    
}
#Logo {
  display: initial;
    float: left;
    padding-left: 10px;
    height: 40%;
    margin: auto 5px;
    width:10%;
    
    
}

#Heading{
        
    display: initial;
    width:80%;
    margin: auto 5px;
    color: white;
    text-align: center;
    font-size: 45px;
    justify-content: center;
    font-family: Schmalfette, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#HeadRight {
    float: left;
    padding-left: 10px;
    height: 80%;
    margin: auto 5px;
    width:10%;
    
    
    
}
#Nav {
    position:relative;
    display:inline-flex;
    height: 50px;
    width: 100%;
    background-color: #0b0b0b;  
    
}
#NavWrapper{
    display: none;
}
#NavWrapperMobile{
    display: initial;
}
.dropbtn {
    background-color: #0b0b0b;
    color: white;
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #121212;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width:100%;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.Bod {
    position: relative;
    margin-top:5px;
    width:100%;
    
    
}

#Banner{
  position: relative;
  display:inline-flex;
  width:100%;
  height:12vh;
  min-height: 100px;
}
.Background{
  position: absolute;
  top:20%;
  height:80%;
  width:100%;
  background-image: url(/static/banner\ backdrop.jpg);
  z-index: -1;
  
}

#deskbanner{
  display: none;
}
#mobilebanner{
  display: initial;
      margin-left:auto;
        margin-right:auto;
}
.ProductsShowcase{
  position: relative;
  width:100%;
  height:60vh; 
  margin-top: 10px;
  /*background-color:green;*/
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}
/*Page Headers*/
.PageHeader{
  position: relative;
  width:100%;
  height:50px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background-color: #B7B7B7;
  margin: auto 0;
  
}
.pagesub{
  width:100%;
  height: auto;
  text-align: center;
}
/*Product preview div*/
.productwrapper{ /*This is a wrapper that sits inside the bod element and contains the .product*/
  position: relative;
  display:inline-flex;
  width:100%;
  height:auto;
  flex-wrap: wrap;
  justify-content: center;
}
.product{ /*The element the image and titel sits in*/
  margin:5px;
  position: relative;
  width:180px;
  height: 280px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color:black;
}
a{
  
  text-decoration: none;
}
.proimg{
  width:100%;
  height:80%;
}
/*CSS for tablet and bigger viewing*/
@media only screen and (min-width: 800px) {
  #Logo {
    height: 80%;
    width:20%;
  }
  #HeadRight{
    width:20%
  } 
    #Heading{
        font-size: 70px;
    }
    .dropdown{
        display: none;
    }
    #NavWrapper{
        display: initial;
        position: relative;
        
        margin-left:auto;
        margin-right:auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 13px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111111;
      }
    
    .Bod{
      position: relative;
      width:90%;
      left:5%
        
    }
    #Banner{
      height:15vh;
      
    }
    .PageHeader{
      width:60%;
      left:20%;
    }
    /*Product preview div for midway between desktop and mobile*/
    .product{
      margin:10px;
      position: relative;
      width:270px;
      height: 370px;
      font-size: x-large;
    }
    
    

    
    
}

/*Screen size specific elements that need to change depending on screen size*/
@media only screen and (min-width: 900px) {
    #Heading{
        font-size: 70px;
        
    }
    /*Product preview div for desktop view*/
    .product{
      margin:10px;
      position: relative;
    }
    
}
@media only screen and (min-width: 1100px) {
  
  #deskbanner{
    display: initial;
    margin-left:auto;
    margin-right:auto;
      
  }
  #mobilebanner{
    display: none;
  }

}
@media only screen and (max-width: 300px) {
  #Logo{
    display: none;
  }
  #HeadRight{
    display: none;
  }
  #Heading{
    width:100%;
  }
}