HTML{
  overflow: visible;
  display: inline-flex;
}
@font-face {
  font-family: Schmalfette;
  src: url(/static/SchmalfetteCP.ttf);
}
.carousel-control.left, .carousel-control.right {
  background-image:none !important;
  filter:none !important;
  
}

body {
    /*background-image: url(/static/MTP.avif);*/
    background-color: #fff;
    padding: 0;
    margin: 0;
    width:100%;
    min-height:100vh;
    font-family: sans-serif;
}
.subhead{
  position: relative;
  width:100%;
  height:60px;
  font-size: 40px;
  
  text-align: center;
 
  margin: auto 0;
  font-family: Schmalfette;
  margin-bottom: 10px;
}
#Header {
    position:inherit;
    display:inline-flex;
    float: left;
    height: 100PX;
    width: 100%;
    background-color: #121212;
    
}
#Logo {
  display: initial;
    float: left;
    padding-left: 10px;
    height: 40%;
    margin: auto 5px;
    width:10%;
    
    
}

#Heading{
        
    display: initial;
    width:80%;
    margin: auto 5px;
    color: white;
    text-align: center;
    font-size: 45px;
    justify-content: center;
    font-family: Schmalfette, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#HeadRight {
    float: left;
    padding-left: 10px;
    height: 80%;
    margin: auto 5px;
    width:10%;
    
    
    
}
#Nav {
    position:relative;
    display:inline-flex;
    height: 50px;
    width: 100%;
    background-color: #0b0b0b;  
    
}
#NavWrapper{
    display: none;
}
#NavWrapperMobile{
    display: initial;
}
.dropbtn {
    background-color: #0b0b0b;
    color: white;
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #121212;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width:100%;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.Bod {
    position: relative;
    margin-top:5px;
    width:100%;
    height:100%;
    
    
}

#Banner{
  position: relative;
  display:inline-flex;
  width:100%;
  height:12vh;
  min-height: 100px;
}
.Background{
  position: absolute;
  top:20%;
  height:80%;
  width:100%;
  background-image: url(/static/banner\ backdrop.jpg);
  z-index: -1;
  
}

#deskbanner{
  display: none;
}
#mobilebanner{
  display: initial;
  margin-left:auto;
  margin-right:auto;
}
.ProductsShowcase{
  position: relative;
  width:100%;
  height:auto;
  margin-top: 10px;
  overflow-x: hidden;
	overflow-y: hidden;
  background-color: #D3D3D3;
  
  
}
.Wrapper{
  display: flex;
  overflow-x:auto;
  
}

#InfoWidgit{
  margin-top:10px;

  height: auto;
  padding: 10px;
  
}
.Left, .Right{
  height:100px;
  width: 45%;
  position: relative;
 
  
}
#Aboutus{
  text-align: center;
  font-size: large;
  padding: 10px;
}

.modal-backdrop {
  display: none;
  z-index: 1040 !important;
}

.modal-content {
  margin: 2px auto;
  z-index: 1100 !important;
}
/*Page Headers*/
.PageHeader{
  position: relative;
  width:100%;
  height:60px;
  font-size: 60px;
  
  text-align: center;
 
  margin: auto 0;
  font-family: Schmalfette;
  margin-bottom: 10px;
  
}
.pagesub{
  
  width:100%;
  height: auto;
  text-align: center;
}

/*Product preview div*/
.productwrapper{ /*This is a wrapper that sits inside the bod element and contains the .product*/
  position: relative;

  width:100%;
  height:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.product{ /*The element the image and titel sits in on the catagory screen*/
  margin:5px;
  position: relative;
  width:180px;
  min-width: 180px;
  height: 280px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color:black;
  
}
.product a{
  text-decoration: none;
  color:black;
}
.productimgwrap, .productright{
  display: inline-flex;
  width:50%;
  min-width: 400px;
  max-width: 600px;
  height: 50vh;
  margin: 5px;
    
}

.productimgwrap img{
  
  display: initial;
  margin-left:auto;
  margin-right:auto;
  
}

.productleft{
  display: flex;
  flex-flow: column wrap;
  
  width: 50%;
  min-width: 400px;
  max-width: 800px;

  margin: 5px;
}
/*Elements found inside prductleft element*/
.productleftsub {
  display: flex;
  flex-flow: row wrap;
  justify-content: left ;
  margin: 5px;
  height: auto;
  width: 100%;
 
  padding-left: 10px;
  
  
}
.colourop {
  margin:3px;
  height:40px;
  width:40px;
  border: #0b0b0b;
  clip-path: circle(50% at 50% 50%);
  
}
#Price{
  font-size: xx-large;
  font-weight: bold;
}
.producttitle{
  font-size: 60px;
  font-family: Schmalfette;
}
/*Catogory page elements*/
.cathalf a{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  width:100%;
}
.proimg{
  width:100%;
  height:80%;
}
.cat{
  position: relative;
  display: inline-flex;
  width: 100%;
  height:10vw;
  max-height: 150px;
  min-height: 100px;
  clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%); 
  
  margin-top: 5px;
}
.cathalf{
  position: relative;
  display: inline-flex;
  width: 100%;
  max-width: 900px;
  height:10vw;
  max-height: 150px;
  min-height: 150px;
  clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%); 
  
  margin-top: 5px;
}
.catback{
  position: absolute;
  background-image: url("/static/banner\ backdrop.jpg");
  top:20%;
  width: 100%;
  height:80%;
  z-index: -1;
}
.cathalf img, .cat img{
  display: initial;
      margin-left:auto;
        margin-right:auto;
}
footer {
  
  width:100%;
  height:100px;
  background-color: #0b0b0b;
  
}

/*CSS for tablet and bigger viewing*/
@media only screen and (min-width: 800px) {
  #Logo {
    height: 80%;
    width:20%;
  }
  #HeadRight{
    width:20%
  } 
    #Heading{
        font-size: 70px;
    }
    .dropdown{
        display: none;
    }
    #NavWrapper{
        display: initial;
        position: relative;
        
        margin-left:auto;
        margin-right:auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 13px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111111;
      }
    
    
    #Banner{
      height:15vh;
      
    }
    .Wrapper{
      
      justify-content: center;
    }
    .PageHeader{
      width:60%;
      left:20%;
      height: 80px;
      font-size: 80px;
    }
    /*Product preview div for midway between desktop and mobile*/
    .product{
      margin:10px;
      position: relative;
      width:200px;
      height: 300px;
      font-size: x-large;
    }
    .cat{
      
      width: 80%;
    }
    .cathalf {
      width:50%;
      clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%); 
      
    }
    
    
    

    
    
}

/*Screen size specific elements that need to change depending on screen size*/
@media only screen and (min-width: 900px) {
    #Heading{
        font-size: 70px;
        
    }
    /*Product preview div for desktop view*/
    .product{
      margin:15px;
      position: relative;
    }
    
    
}
@media only screen and (min-width: 1100px) {
  .Bod{
    position: relative;
    
    display: initial;
    margin-left:auto;
    margin-right:auto;
    max-width: 1800px;
    
    
  }
  .productwrapper{
    width: 90%;
    left: 5%;
  }
  #deskbanner{
    display: initial;
    margin-left:auto;
    margin-right:auto;
      
  }
  #mobilebanner{
    display: none;
  }

}
@media only screen and (max-width: 400px) {
  #Logo{
    display: none;
  }
  #HeadRight{
    display: none;
  }
  #Heading{
    width:100%;
  }
  .cathalf{
    height:10vw;
    max-height: 150px;
    min-height: 100px;
    
  }
  .productimgwrap{
    display: inline-flex;
    width:90%;
    min-width: 300px;
    
    height: 90vw;
  }

  
  .productleft{
    width: 90%;
    min-width: 300px;
    
  }  
}