{% extends 'base.html' %}

{% block head %}

{% endblock %} 

{% block body %}
<body>
    <title>Airsoft Accessories</title>
    <div class="Bod">
    <div class="PageHeader">Accessories</div>
    <div class="Spacer" style="height:20px"></div>
    <div class="pagesub"></div>
    <div class="ProductsShowcase" style="background-color:#fff;border-top:3px solid #121212; border-bottom: 3px solid #121212;">
        <div class="subhead">Accessories by us</div>
        <div class="Wrapper">
        <div class="product">
            <a href="/accessories/M4BBFunnel">
            <div class="proimg">
                <img src="/static/001nobackpreview.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                M4 BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/MOSFunnel">
            <div class="proimg">
                <img src="/static/004nobackpreview.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                MOSCART BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/AUGFunnel">
            <div class="proimg">
                <img src="/static/003nobackpreview.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                AUG BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/mp5Funnel">
            <div class="proimg">
                <img src="/static/NoImage.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                MP5 BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/AKFunnel">
            <div class="proimg">
                <img src="/static/NoImage.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                AK-47 BB Funnel
            </div>
            </a>
        </div>
    </div>
    </div>
</div>
</body>

{% endblock %}