{% extends 'base.html' %}

{% block head %}
<title>Tidal Tech's Airsoft - Home</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %} 

{% block body %}
<body>
<div class="Bod" >
    <div id="Banner">
        
        <div id="deskbanner"><img src="/static/Banner.png" width="auto" height="100%"></div>
        <div id="mobilebanner"><img src="/static/BannerMobile - BB gunnel m4.png" width="100%" height="100%"></div>
        <div class="Background"></div>
    </div>

    <div class="ProductsShowcase">
        <div class="PageHeader">Products by us</div>
        <div class="Wrapper">
        <div class="product">
            <a href="/accessories/M4BBFunnel">
            <div class="proimg">
                <img src="/static/001nobackpreview.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                M4 BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/MOSFunnel">
            <div class="proimg">
                <img src="/static/004nobackpreview.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                MOSCART BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/AUGFunnel">
            <div class="proimg">
                <img src="/static/003nobackpreview.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                AUG BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/mp5Funnel">
            <div class="proimg">
                <img src="/static/NoImage.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                MP5 BB Funnel
            </div>
            </a>
        </div>
        <div class="product" >
            <a href="/accessories/mp5Funnel">
            <div class="proimg">
                <img src="/static/NoImage.png" width="100%" height="100%">
            </div>
            <div class="ProTitle">
                AK-47 BB Funnel
            </div>
            </a>
        </div>
    </div>
    </div>
    
    
    <div id="InfoWidgit">
        <div class="PageHeader">Who we are</div>
        <div id="Aboutus">Here at Tidal Tech, we like to think of new and initiative ways to make our airsoft lives better and easier, on the field and in the safe zones for everyone. 
            We know airsoft can be an expensive hobby, and it seems that you need to spend a lot of money to get decent gear. But we think it could be diffrent . So we have set out to create high quality but affordable asserroies and gadgets to put you ahead in the game. We believe airsoft should be more accessible and affordable, so more people can come and enjoy our hobby.  <br><br>
        We design and manufacture accessories for airsoft, putting our years of knowledge and experience into our hobby. Check out some of our latest product, and if we don't have what you need / want. We can work with the community and come up with accessories that benefit you   </div>
            
    </div>
    <div class="subhead">Our Plan</div>
    <div id="Aboutus">Our Plan is to continue to develop and introduce new product that solves a problem or even makes life a little bit easier. <br> on top of this we would like to start selling mainstream product that are hard to get ahold of otherwise. We've all been there, found something we want but is out of stock everywhere.  </div>
    </div>
</div>


</div> 


</body>
{% endblock %}
