{% extends 'base.html' %}

{% block head %}
<title>Tidal Tech's Airsoft - Wholesale</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
$("#subscribe").prependTo("body");
    $(document).ready(function(){
        $("#subscribe").modal('show');
    });
    
</script>
{% endblock %} 

{% block body %}
<body>
 <div id="subscribe" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"></h3>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <p></p>
                    </form>
                </div>
            </div>
        </div>
    </div>   
   
</body>


{% endblock %}