{% extends 'base.html' %}

{% block head %}
<title>Tidal Tech's Airsoft - Wholesale</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %} 

{% block body %}
<body>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Wholesale</h4>
            </div>
            <div class="modal-body">
              <p>Wholesale is for business customer to be able to buy and resell our products.All Theses products has been designed and manufactured by Tidal Tech. <br><br> </p>
              <h3>Prices</h3>
                <p>Prices vary depending on product and the quantity ordered. The larger the quantities, the smaller the unit price per product.<br><br></p>
                <h3>"Pick 'n Mix"</h3>
                <p>Most product are available to "pick 'n mix". Meaning you can vary what product you order and still get a the larger quantities unit prices*</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
     
    <div class="Bod">
    <div class="PageHeader">Wholesale</div>
    <div class="pagesub">Wholesale is for business customers <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#myModal">Learn More</button> </div>
    <div class="pagesub"><strong>Please Note that the wholesale page is not operational yet. <br> for more information please contact tidal.tech.sale@outlook.com </strong></div>
    <div class="productwrapper">
        
        <div class="cathalf">
            <div class="catback"></div><a href="/wholesale/bbfunnel">
            <img src="/static/BBfunnelCatThumb.png" width="70%" height="100%">
        </a></div>
        
        <div class="cathalf">
            <div class="catback"></div><a href="/wholesale/keychain">
            <img src="/static/keychainsCatThumb.png" width="70%" height="100%"></a>
        </div>
        <div class="cathalf">
            <div class="catback"></div>
            <img src="/static/MoreThumb.png" width="70%" height="100%">
        </div>
        
    </div>
</body>


{% endblock %}